*{
    background-color: rgb(58, 56, 56);
}
.box{
    display:flex ;
    height: 500px;
    width: 1400px;
    border-radius: 4px;
    background-color:rgb(243, 200, 207);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.pic{
    height: 400px;
    width: 400px;
    border-radius: 3px;
   margin-top: 45px;
   margin-left: 30px;
   object-fit: cover;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.name{
    padding-top: 40px;
   padding-left: 350px;
   font: bold;
   color: navy;
   background-color:pink;
   font-size: 50px;
}

.box1{
    display: block; 
    background-color:pink;
}
.text{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 50px;
    width:750px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:pink;
}
.bio{
    font-size: 70px;
    color: red;
    padding-left: 540px;
}




.mis{
    display:flex ;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
    background-color:rgb(243, 230, 232);
    box-shadow: 0 0 5px rgba(234, 232, 232, 0.6);
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.pic1{
    height: 170px;
    width: 170px;
    border-radius: 10px;
   margin-top: 15px;
   margin-left: 30px;
   object-fit: cover;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.name1{
   padding-top: 10px;
   padding-left: 290px;
   font: bold;
   color: navy;
   background-color:rgb(243, 230, 232);
   font-size: 25px;
}

.mis1{
    display: block; 
    background-color:rgb(243, 230, 232);
}
.text1{
    padding-top: 2px;
    padding-left: 32px;
    padding-right: 15px;
    width:700px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(243, 230, 232);
    font-size: 13px;
}





.tea{
    display:flex ;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
    background-color:rgb(243, 230, 232);
    box-shadow: 0 0 5px rgba(234, 232, 232, 0.6);
    margin-top: 20px;
    margin-left: 430px;
    margin-right: 30px;
}
.pic2{
    height: 170px;
    width: 170px;
    border-radius: 10px;
   margin-top: 15px;
   margin-left: 30px;
   object-fit: cover;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.name2{
    padding-top: 10px;
    padding-left: 290px;
    font: bold;
    color: navy;
    background-color:rgb(243, 230, 232);
    font-size: 25px;
}

.tea1{
    display: block; 
    background-color:rgb(243, 230, 232);
}
.text2{
    padding-top: 2px;
    padding-left: 32px;
    padding-right: 15px;
    width:700px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(243, 230, 232);
    font-size: 13px;
}
.read{
    background-color: rgb(243, 230, 232);
    padding-left: 300px;
}
.read1{
    background-color: rgb(243, 230, 232);
    
}
