<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock_Paper_Scissors</title>
    <!-- <script hre></script> -->
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <div id="Players">
    <div id="na" data-part="1" data-final-column><button>Player1</button><span id="hide" data-score1 = "1">1</span>
      <!-- <ul>
        <li></li>
      </ul> -->
    </div> 
    <div id="na" data-part="2" data-final-column><button>Player2</button><span id="hide" data-score2 = "2">2</span></div>
    <div id="na" data-part="3" data-final-column><button>Player3</button><span id="hide" data-score3 = "3">3</span></div>
    <div id="na" data-part="4" data-final-column><button>Player4</button><span id="hide" data-score4 = "4 ">4</span></div>
    </div>
    <script type="text/javascript" src="/js/j.js"></script>

</body>
</html>