*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)), url(../images/active-background.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    
}
nav{
    position: fixed;
    width: 100%;
    line-height: 60px;
}
nav ul{
    float: right;
    margin: 0;
    padding-right: 42px;
    z-index: -2;
}
nav ul li{
    display: inline-block;
    padding: 16px 32px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
nav ul li a:hover{
    color: grey;
}
h1{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding-top: 350px;
    color: #fff;
    opacity: 0.1;
}
nav.black{
    background: #000;
    border-radius: 10px;
    transition: 1s;
}
svg text{
    font-size: 4rem;
    stroke-width: 3px;
    fill: transparent;
    stroke: #ffa500;
    animation: effect 3s infinite alternate;
    display:flex;
}
@keyframes effect{
    0%{
        stroke-dasharray: 0 70%;
    }
    100%{
        stroke-dasharray: 50% 0;
        stroke-dashoffset: 10%;
    }
}
@media (max-width:991px){
    svg text{
        font-size: calc(1rem + 1.5rem);
    }
}
.liveupdate{
    margin-top: 10%;
    font-size: 30px;
}
.liveupdate1{
    padding: 10px 64px;
    color:chartreuse;
}
.liveupdate2{
    padding: 10px 200px;
    color:chartreuse;
}
.liveupdate3{
    padding: 10px 50px;
    color:chartreuse;
}
.liveupdate4{
    padding: 10px 20px;
    color:chartreuse;
}
.liveupdate5{
    padding: 10px 20px;
    color:chartreuse;
}
.liveupdate6{
    padding: 10px 20px;
    color:chartreuse;
}
.container{
    background-color:rgb(230, 222, 238);
    border-radius: 20px;
    margin-top: 0px;
    /* display: flex; */
    z-index: -1;
    /* transform: translateY(-500px); */
    position:relative;
}
