body{
    border:0%;
    margin:0%;
    background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);

}
.container
{
   margin:100px auto;
   text-align:center;
}
button{

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 20px;
    border-radius: 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    margin-left:20px;
    
}
button:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}
h1 { 
    color: #832e88; font-family: 'Rouge Script', cursive; font-size: 50px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34; }
p
{
    font-size:5em;
    color:#fff;
}