*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    width: 100%;
     background: #fafafa;
     position: relative;
     font-family: 'roboto',sans-serif;
}

.navbar{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.navbar-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.brand-img{
   height:100%;
   margin-top: 5px;

}
.search-box{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 200px;
   height: 25px;
   background: #fafafa;
   border:1px solid #dfdfdf;
   border-radius:2px;
   color: rgba(0,0,0,0.5);
   text-align:center;
   text-transform:capitalize;
}

.search-box::placeholder{
    color: rgba(0,0,0,0.5);
}
.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
    background-image: url(img/profile-pic.png);
    background-size: cover;
}
.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.wrapper{
    width: 70%;
    max-width:  1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}
.left-col{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;

}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg,rgb(255,230,0),rgb(255,0,128) 80%);
}
.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;

}

.username{
    width: 100%;
    overflow:hidden;
    text-align: center;
    font: size 12px;
    margin-top: 5px;
    color: rgba(0,0,0,0.5);

}